body {
    background-color: #343D46;
}

#root {
    background-color: #343D46;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.textarea {
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    resize: none;
    font-size: 30px;
    line-height: 34px;
    height: 100%;
    overflow: auto;
    width: 100%;
    padding-top: 40px;
    padding-left: 70px;
    font-family: Helvetica, sans-serif, serif;
    background-color: #343D46;
    color: white;

}

textarea::placeholder {
    color: white;
    font-size: 30px;
    line-height: 34px;
    font-family: Helvetica, sans-serif, serif;


}


textarea:focus {
    outline: none;
}